#Trailer-Section {
    margin-top: 50px;
}

#Game-Section {
    margin-top: 80px;
}

#SceneEditor-Section {
    margin-top: 80px;
}

#Engine-Diagram {
    margin-top: 80px;
}

#Binary-Download {
    margin-top: 80px;
}

.Engine-Documentation:link {color:#2196F3;}
.Engine-Documentation:visited {color:#0000ff;}
.Engine-Documentation:hover {color:#4c92cc;}

.Binary-Link:link {color:#2196F3;}
.Binary-Link:visited {color:#0000ff;}
.Binary-Link:hover {color:#4c92cc;}

.Binary-Link {
    display: inline-block; 
    width: auto;
}

.Engine-Documentation {
    display: inline-block;
}